{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <h2 class="my-4">Vos posts</h2>
    <div class="row">
        {% if posts %}
        {% for post in posts %}
        <div class="col-md-6 mb-4">
            {% if post.content_type == "REVIEW" %}
            <div class="card">
                <div class="card-header">
                    <p class="mb-0">{{ post.user }} a créé une revue</p>
                    <p class="mb-0">{{ post.time_created }}</p>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ post.headline }}</h3>
                    <p class="card-text">{{ post.body }}</p>
                    <div class="d-flex justify-content-start align-items-center mb-3">
                        {% for _ in "x"|rjust:post.rating %}
                        <i class="fas fa-star text-warning"></i>
                        {% endfor %}
                    </div>
                    <div class="card bg-light mb-3">
                        <div class="card-header">
                            <p class="mb-0">Ticket - {{ post.ticket.user }}</p>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{ post.ticket.title }}</h4>
                            <p class="card-text">{{ post.ticket.description }}</p>
                            {% if post.ticket.image %}
                            <a href="/media/{{ post.ticket.image }}">
                                <img class="img-fluid" src="/media/{{ post.ticket.image }}"
                                     alt="{{ post.ticket.title }}">
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    {% if post.user == request.user %}
                    <div class="d-flex justify-content-end">
                        <form method="post" action="/deletepost" class="mr-2">
                            {% csrf_token %}
                            <input type="hidden" name="postid" value="{{ post.id }}">
                            <input type="hidden" name="types" value="review">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                        <a class="btn btn-primary btn-sm" href="/modify?type=REVIEW&id={{post.id}}">Modifier</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% else %}
            <div class="card">
                <div class="card-header">
                    <p class="mb-0">{{ post.user }} a créé un ticket</p>
                    <p class="mb-0">{{ post.time_created }}</p>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ post.title }}</h3>
                    <p class="card-text">{{ post.description }}</p>
                    {% if post.image %}
                    <a href="/media/{{ post.image }}">
                        <img class="img-fluid" src="/media/{{ post.image }}" alt="{{ post.title }}">
                    </a>
                    {% endif %}
                    {% if post.user == request.user %}
                    <div class="d-flex justify-content-end">
                        <form method="post" action="/deletepost" class="mr-2">
                            {% csrf_token %}
                            <input type="hidden" name="postid" value="{{ post.id }}">
                            <input type="hidden" name="types" value="ticket">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                        <a class="btn btn-primary btn-sm" href="/modify?type=TICKET&id={{post.id}}">Modifier</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
        {% else %}
        <div class="col-12">
            <h2 class="text-center mange_curly">Commencez a suivre des personnes pour voir des revues</h2>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

<link rel="stylesheet" href="{% static 'litereview/styles.css' %}"/>
<script src="https://kit.fontawesome.com/f500a5a126.js" crossorigin="anonymous"></script>