<div class="col-md-6 mb-4">
    <div class="card justify-content-center mb-4">
        <div class="card-header">
            <p class="col-md-6 mb-4">{{ instance.user }} a demandé une critique</p>
            <small class="text-muted">{{ instance.time_created }}</small>
        </div>
        <div class="card-body">
            <h3 class="card-title">{{ instance.title }}</h3>
            <p class="card-text">{{ instance.description }}</p>
            {% if instance.image %}
            <a href="/media/{{ instance.image }}">
                <img class="img-thumbnail" src="/media/{{ instance.image }}"
                     alt="Ticket Image">
            </a>
            {% endif %}
            {% if instance.has_review != True %}

            <div class="mt-3">
                <a class="btn btn-primary" href="/create_review/{{ instance.id }}" role="button">Créer une
                    revue ou une critique</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>