{% extends base %}

        {% if user.is_authenticated %}
            <p>Vous êtes connectés en tant {{ request.user }}.
            </p>
            <a>Se déconnecter</a>
        {% else %}
            {% include 'layouts/partials/login.html'%}
                <div class="row" style="margin-top:100px">
                    <div class="col-4">
                        <p>{{ message }}</p>
                        <h1>Inscrivez-vous maintenant</h1>
                    </div>
                    <div class="col-4"></div>
                    <div class="col-4">
                        <h1>Connectez-vous</h1>
                        <form method="post">
                        <div class="row">
                            <div class="col-4">
                            {{ form.as_p }}
                            {% csrf_token %}
                            <button type="submit" aria-label="Se connecter">Se connecter</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>

        {% endif%}

