<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LITReview</title>
</head>
<body>
<header>
    {% include 'layouts/partials/header.html'%}
</header>
<div class="container">
    {% block content %}
        {% if user.is_authenticated %}
            <p>Vous êtes connectés en tant {{ request.user }}.
            </p>
            <a>Se déconnecter</a>
        {% else %}
            {% include 'layouts/partials/login.html'%}

        {% endif%}
    {% endblock content %}
</div>
</body>
<footer>
        {% include 'layouts/partials/footer.html'%}
</footer>
</html>