<!DOCTYPE html>
{%load static%}
{% load django_bootstrap5 %}
<html lang="en">
<head>
   <meta charset="UTF-8"/>
   <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <title>{% block title %}Litereview{% endblock %}</title>
   {% bootstrap_css %}
   {% bootstrap_javascript %}


   <link type='text/css' href="{% static 'css/style.css' %}" rel="stylesheet">
   <link href="{% static 'js/script.js' %}" rel="stylesheet">
</head>
<body>
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
   <a href="{% url 'signup' %}"><img src="{% static 'images/logo.png' %}" width="40" height="42"
                                     alt="Logo du site"/></a>
   <!-- HTML -->
   <div>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#aboutModal">
            A propos
      </button>
   </div>
   <div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title justify-content-center" id="aboutModalLabel">A propos</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <h1 class="row justify-content-center">Notre site web permet de demander<br> ou de publier des critiques
                  de livres ou d'articles.
               </h1>
               <h2 class="row justify-content-center"></h2>
               <li class="row justify-content-center">Commentaires sur livres ou d'articles.</li>
               <li class="row justify-content-center">Notations.</li>
               <li class="row justify-content-center">Suivi d'articles d'auteurs, désabonnement et blocage de comptes.
               </li>
               <span class="row justify-content-center"></span>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
         </div>
      </div>
   </div>
   {% if user.is_authenticated %}
   <nav>
      <ul class="nav nav-pills">
         <li class="nav-item"><a href="{% url 'flux' %}" title="Flux" class="nav-link active"
                                 aria-current="page">Flux</a>
         </li>
         <li class="nav-item"><a href="{% url 'posts' %}" title="Posts" class="nav-link">Posts</a></li>
         <li class="nav-item"><a href="{% url 'subscription' %}" title="Abonnements" class="nav-link">Abonnements</a>
         </li>
         <li class="nav-item"><a href="{% url 'logout' %}" title="déconnecter" class="nav-link">Se déconnecter</a>
         </li>
         <li class="nav-item"><a href="#" class="nav-link">Bienvenue {{ user.username }}</a></li>
      </ul>
   </nav>
   {% endif %}
</header>
<main class="flex-grow-1">
   {% block content %}
   {% endblock %}
</main>
<footer>
   <p class="text-center text-body-secondary visually-hidden-focusable">
      Copyright &copy; LITReview by <a href="https://bk7191.github.io">bk7191</a>
   </p>
</footer>
</body>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</html>