{% extends 'base.html' %}

{% block content %}

<div class="container d-grid gap-3">
    <div class="row text-center mt-4">
        <div class="col">
            <h2>Flux</h2>
        </div>
    </div>

    <div class="row text-center">
        <div class="col p-0">
            <a href="{% url 'create_ticket' %}" class="btn btn-dark w-75">Demander une critique</a>
        </div>


        <div class="col p-0">
            <a href="{% url 'create_review' %}" class="btn btn-dark w-75">Créer une critique</a>
        </div>
    </div>

    {% for post in posts %}
    {% if post.content_type == "TICKET" %}

    {% elif post.content_type == "REVIEW" %}

    {% endif %}
    {% endfor %}
</div>

{% endblock content %}  