{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container py-5">
   <h2 class="text-center mb-4">Suivre d'autres utilisateurs</h2>
   <form method="post" class="mb-3">
      {% csrf_token %}
      <div class="form-group">
         <label for="username">Nom d'utilisateur :</label>
         <input type="text" placeholder="Nom d'utilisateur" class="form-control" id="username" name="username"
                required>
      </div>
      <div>
         <input type="hidden" name="post_value" value="follow">
         <button type="submit" class="btn btn-primary">Envoyer</button>
      </div>
   </form>
   {% if display_error %}
   <div class="alert alert-danger" role="alert">
      {{ display_error }}
   </div>
   {% endif %}
</div>
<div class="container py-5">
   <div class="mb-3">
      <h2 class="text-center mb-4">Mes abonnements</h2>
      <ul class="list-group">
         {% for follow in followed_user %}
         <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ follow.followed_user.username }}
            <form method="post" class="d-inline">
               {% csrf_token %}
               <input type="hidden" name="post_value" value="{{ follow.followed_user.username }}">
               <button type="submit" class="btn btn-danger btn-sm">Se désabonner</button>
            </form>
         </li>
         {% empty %}
         <li class="list-group-item">Vous n'êtes abonné à aucun utilisateur.</li>
         {% endfor %}
      </ul>
   </div>
   <div class="container py-5">
      <div class="mb-3">
         <h2 class="text-center mb-4">Mes abonnés</h2>
         <ul class="list-group">
            {% for follower in followers %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
               {{ follower.user.username }}
               <form method="post" class="d-inline">
                  {% csrf_token %}
                  <input type="hidden" name="post_value" value="{{ follower.user.username }}">
                  <button type="submit" class="btn btn-danger btn-sm">Bloquer</button>
               </form>
            </li>
            {% empty %}
            <li class="list-group-item d-flex justify-content-between align-items-center">Vous n'avez aucun
               abonné.
            </li>
            {% endfor %}

         </ul>
      </div>
   </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
{% endblock content %}