{% extends 'base.html' %}
{%load static%}


{% block content %}
<div class="container_rev">
    <h2>Créer une critique</h2>
    <form method="post" class="rev_form" enctype="multipart/form-data">
        <p>Livre / Article</p>
        <p>Titre :</p>
        {{ ticket_form.title }}
        <p>Description :</p>
        {{ ticket_form.description }}
        <p>Image de l'article :</p>
        <img style="width: 200px; height: auto;">{{ ticket_form.image }}</img>
        <p>Critique</p>
        <p>Titre :</p>

        {{review_form.headline}}

        <p>Note</p>
        <div class="container_radio">
            {% for radio in review_form.rating %}
                {{ radio }}
                {{ forloop.counter0 }}
            {% endfor %}
        </div>
        <p>Commentaire : </p>
        {{ review_form.body }}
        {% csrf_token %}
        <input type="submit" class="btn_log" value="Create Review">
    </form>
</div>

{% endblock %}
