{% extends 'base.html' %}
{%load static%}


{% block content %}
        <div class="container_ticket">
            <h2>Créer un ticket</h2>
            <form method="post" class="form_ticket" enctype="multipart/form-data">
                <p>Titre :</p>
                {{ ticket_form.title }}
                <p>Description :</p>
                {{ ticket_form.description }}
                <p>Image :</p>
                {{ ticket_form.image }}
                {% csrf_token %}
                <br>
                <button class="btn_log" type="submit">Créer le ticket</button>
            </form>
        </div>
{% endblock %}
